div.row
  div.col-md-12#titleColumn
    h1 Account Settings
div#settingsForm
  div.row
    div.col-md-4
      div.form-group.accountSettings
        label(for='inputEmail') Email Address
        p #{user.email}
        input(type='text').accountInputs.form-control.hidden#emailInput #{user.email}
  div.row
    div.col-md-4
      div.form-group.accountSettings
        label(for='inputBusinessName') Business Name
        p #{user.businessName}
        input(type='text').form-control.accountInputs.hidden#businessNameInput #{user.businessName}
  div.row#editButtonRow
    div.col-md-4
      button.btn.btn-primary#editAccountButton Edit