mixin order(order)
  include order

!!! 5
html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    include nav
    div.container#mainContainer
      div.row
        div.col-md-4.col-xs-12#newOrderColumn
          div#newOrderFixed
            div#newOrderTitle Add New Order
            div#newOrderBox
              div.newOrderSubtitles New Order Number
              input.newOrderInputs#orderInput(type='text', placeholder=' # 1', name='order')
              div.newOrderSubtitles Phone Number
              input.newOrderInputs#phoneNumberInput(type='text', placeholder=' (404) - 555 - 5555', name='phoneNumber')
              button#newOrderButton ADD TO ACTIVE ORDERS
        div.col-md-7.col-xs-12#activeOrdersColumn
          div#activeOrdersTitle Active Orders
          div#activeOrdersBox
            for order in orders
              +order(order)
    script(type='text/javascript', src='/javascripts/index.js')
    script(type='text/javascript', src='/javascripts/nav.js')