html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/landing.css')
  body
    div.container
      div.row#mainRow
        div.col-md-7#descriptiveColumn
          div#branding
          div#procedure
        div.col-md-5#accountColumn