html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/landing.css')
    link(rel='stylesheet', href='/stylesheets/landing-nav.css')
  body
    include landing-nav
    include landing-about
  script(type='text/javascript', src='/javascripts/nav.js')
  script(type='text/javascript', src='/javascripts/landing.js')