div#mainAbout
  div.container
    div#aboutTextColumn
      div#textRow1 Are you ready to
      div#textRow2 text your customers?
      div#aboutList
        div.aboutListItem
          span.circle#firstCircle 1
          span.aboutText When their order is ready at the counter
        div.aboutListItem
          span.circle 2
          span.aboutText When they can pick up to-go orders
        div.aboutListItem
          span.circle 3
          span.aboutText When you have new deals & promotions
    div#aboutImageColumn