html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/landing.css')
    link(rel='stylesheet', href='/stylesheets/landing-nav.css')
    title Ready - Order At The Counter
  body
    include landing-nav
    include landing-about
    include landing-pricing
  script(type='text/javascript', src='/javascripts/nav.js')
  script(type='text/javascript', src='/javascripts/landing.js')