nav.navbar.navbar-default(role='navigation')#mainNav
  div.container
    a(href='/').navbar-brand#navBrand READY
      span#navIcon
        img(src='/images/phone-logo.png', alt='phone')#imageIcon
    ul.nav.navbar-nav#landingList
      li
        a(href='#About') About
      li
        a(href='#Pricing') Pricing
      li
        a(href='#Contact') Contact
    ul.nav.navbar-nav#landingButtonList
      li
        button#signupButton Sign Up
      li
        button#loginButton Log In