div#mainPricing
  div.container.freeContainer
    div#freeDiv
      div#freeText1 Are you ready to
      div#freeText2 get started for free?
div.container.priceContainer
      div.priceBox
        div.priceTab
          div.priceHeaderDiv 5000 texts/month
          div.priceMainDiv
            div.price $70
              span.priceSpan per month
            div.choosePlan Select plan
        div.priceTab
          div.priceHeaderDiv 2500 texts/month
          div.priceMainDiv
            div.price $40
              span.priceSpan per month
            div.choosePlan Select plan
        div.priceTab
          div.priceHeaderDiv 1000 texts/month
          div.priceMainDiv
            div.price $20
              span.priceSpan per month
            div.choosePlan Select plan