html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/landing-nav.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    title Ready - Log In
  body
    include landing-nav
    div.container
      div#loginBox
        div.loginText Log In
        form.loginForm(role='form', action='loginUser', method='POST')
          div.form-group
            label.inputLabel(for='inputEmail') Email Address
            input.form-control#inputEmail(name='email', type='email')
          div.form-group
            label.inputLabel(for='inputPassword') Password
            input.form-control#inputPassword(name='password',type='password')
        button.loginButton Log In
        div.helpDiv
          div#newUser
            div#newUserText New User?
              span#signUpSpan Sign Up
              span#period='.'
          div#cancel
            div#cancelText Cancel
  script(type='text/javascript', src='/javascripts/login.js')