nav.navbar.navbar-default#navBar(role='navigation')
  div#navWrap
    a.navbar-brand(href='/') READY
      span.glyphicon.glyphicon-star
    div#companyNav
      div#companyNameNav #{user.businessName}
      a(href='/settings') Settings