div.order
  div.row
    div.col-md-3.col-xs-12
      div.orderNumber='#' + order.orderNumber
    div.col-md-4.col-xs-12
      div.row
        div.col-md-1.col-xs-1
          img.phone(src='/images/phone-number.png', alt='phone')
        div.col-md-9.col-xs-10
          div.phoneNumber #{order.phoneNumber}
      div.row
        div.col-md-1.col-xs-1
          img.time(src='/images/clock.png', alt='clock')
        div.col-md-9.col-xs-10
          div.phoneTimestamp #{order.timestamp}
    div.col-md-5.col-xs-12
      button.readyButton(id="#{order._id}") Send Text
      div.dropdown
        img.dropdownImage.dropdown-toggle#dImage(src='/images/droppy.png', data-toggle='dropdown')
        ul.dropdown-menu.pull-right(role='menu', aria-labelledby='dImage')
          li(role='presentation')
            p.edit Edit
          li(role='presentation')
            p.delete Delete
