div.row
  div.col-md-12#cardSettingsTitle
    h1 Plan
div.row
  div.col-md-12#planTitle
    if user.settings.plan === undefined
      h3 You are not enrolled in a plan!
    else
      h3 You are enrolled in #{user.settings.plan}
div#payment-form
  div.form-row
    label
      span Card Number
      input(type='text', data-stripe='number')
  div.form-row
    label
      span CVC
      input(type='text', data-stripe='cvc')
  div.form-row
    label
      span Expiration (MM/YYYY)
      input(type='text', data-stripe='exp-month')
    span /
    input(type='text', data-stripe='exp-year')
  button#submitPay Create Subscription