div.row
  div.col-md-12#cardSettingsTitle
    h1 Plan
div.row
  div.col-md-12#planTitle
    if user.settings.plan === undefined
      h3 You are not enrolled in a plan!
    else
      h3 You are enrolled in #{user.settings.plan}
div#payment-form
  div.row
    div.col-md-3
      div.form-group
        label(for='inputNumber') Card Number
        input.form-control(type='text', id='inputNumber', placeholder='Card Number', name='number', data-stripe='number')
  div.row
    div.col-md-1
      div.form-group
        label(for='inputCVC') CVC
        input.form-control(type='text', id='inputCVC', placeholder='CVC', name='CVC', data-stripe='cvc')
  div.row
    div.col-md-4
      div.form-group
        label(for='inputMonth') Expiration Date
        div.row
          div.col-md-3
            input.form-control(type='text', id='inputMonth', placeholder='MM', name='month', data-stripe='exp-month')
          div.col-md-3
            input.form-control(type='text', id='inputYear', placeholder='YYYY', name='year', data-stripe='exp-year')
  button.btn.btn-primary#submitPay Create Plan