html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/settings.css')
    script(type='text/javascript', src='https://js.stripe.com/v2/')
  body
    div.container
      include nav
      div.row
        div.col-md-4#titleColumn
          h1 Settings
      form(role='form', method='POST', action='/settings')#settingsForm
        div.row
          div.col-md-4
            div.form-group
              label(for='inputEmail') Email Address
              input.form-control(type='email', id='inputEmail', name='email', value='#{user.email}')
        div.row
          div.col-md-4
            div.form-group
              label(for='inputBusinessName') Business Name
              input.form-control(type='text', id='inputBusinessName', name='businessName', value='#{user.businessName}')
        div#payment-form
          span.payment-errors
          div.form-row
            label
              span Card Number
              input(type='text', data-stripe='number')
          div.form-row
            label
              span CVC
              input(type='text', data-stripe='cvc')
          div.form-row
            label
              span Expiration (MM/YYYY)
              input(type='text', data-stripe='exp-month')
            span /
            input(type='text', data-stripe='exp-year')
          button#submitPay Create Subscription
  script(type='text/javascript', src='/javascripts/settings.js')
  script(type='text/javascript', src='/javascripts/nav.js')