html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/settings.css')
  body
    div.container
      include nav
  script(type='text/javascript', src='/javascripts/settings.js')
  script(type='text/javascript', src='/javascripts/nav.js')