html
  head
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/settings.css')
  body
    div.container
      include nav
      div.row
        div.col-md-4#titleColumn
          h1 Settings
      form(role='form', method='POST', action='/settings')#settingsForm
        div.row
          div.col-md-4
            div.form-group
              label(for='inputEmail') Email Address
              input.form-control(type='email', id='inputEmail', name='email', value='#{user.email}')
        div.row
          div.col-md-4
            div.form-group
              label(for='inputBusinessName') Business Name
              input.form-control(type='text', id='inputBusinessName', name='businessName', value='#{user.businessName}')
        form(action='', method='POST')
          script(src='https://checkout.stripe.com/v2/checkout.js', class='stripe-button', data-key='pk_test_Frgm6hnSEjLMxE5cf7Lkwj2m', data-amount='2000', data-name='Demo Site', data-description='2 widgets ($20.00)', data-image='/128x128.png')
  script(type='text/javascript', src='/javascripts/settings.js')
  script(type='text/javascript', src='/javascripts/nav.js')