#newOrderTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 19px;
}

#newOrderColumn {
  padding-left: 0;
  float: right;
}

#newOrderBox {
  margin-top: 8px;
  border: 1px solid #AFAFAF;
  height: 38%;
  min-height: 290px;
  width: 400px;
}

@media(min-width: 992px) {
  #newOrderFixed {
    position: fixed;
  }
  #mainContainer {
    padding-top: 100px;
  }
}

.newOrderSubtitles {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 20px;
}

.newOrderInputs {
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  width: 90%;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #AFAFAF;
  padding-left: 5px;
}

.newOrderInputs::-webkit-input-placeholder {
  color: #D1D2D3;
}
.newOrderInputs:-moz-placeholder {
  color: #D1D2D3;
}
.newOrderInputs::-moz-placeholder {
  color: #D1D2D3;
}
.newOrderInputs:-ms-input-placeholder {
  color: #D1D2D3;
}

#newOrderButton {
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  height: 50px;
  margin-left: 20px;
  background-color: #71C2B3;
  border: none;
  color: #FFFFFF;
}

#activeOrdersBox {
  margin-top: 8px;
  border-top: 1px solid #AFAFAF;
  margin-bottom: 20px;
  width: 90%;
}

#activeOrdersTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 19px;
}

#activeOrdersColumn {
  padding-left: 0;
  float: left;
}

.order {
  border-bottom: 1px solid #AFAFAF;
  border-left: 1px solid #AFAFAF;
  border-right: 1px solid #AFAFAF;
  min-height: 80px;
}

.order:first-child {
  border-top: none;
}

.orderNumber {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 25px;
  color: #4C4A49;
}

.readyButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #EF493A;
  border: 1px solid #EF493A;
  background-color: #FFFFFF;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: 15px;
}

.phoneNumber, .phoneTimestamp {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #000000;
}

.phoneNumber {
  margin-top: 20px;
}

.phone {
  margin-top: 24px;
}

.order:nth-child(odd) {
  background-color: #FDFDFD;
}

#emptyText {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #AFAFAF;
  padding-top: 20px;
}

#emptyTextBox {
  width: 100%;
  min-height: 60px;
}

#emptyTextBox:hover {
  cursor: pointer;
  background-color: #FDFDFD;
}

#emptyTextArrow {
  margin-left: 10px;
  margin-bottom: 2px;
}

.dropdownImage:hover {
  cursor: pointer;
}

.dropdownImage {
  float: right;
  margin-top: -33px;
  margin-right: 20px;
}

.edit, .delete {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 12px;
}

.edit:hover, .delete:hover {
  cursor: pointer;
  text-decoration: underline;
}