#mainAbout {
  height: 400px;
  background-color: #71C2B3;
}

#aboutTextColumn {
  width: 500px;
  height: 400px;
}

#aboutImageColumn {
  width: 460px;
  float: right;
  height: 400px;
}

#textRow1 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-left: 54px;
  margin-top: 45px;
}

#textRow2 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  padding-left: 54px;
}

@media(min-width: 992px) {
  #mainAbout {
    padding-top: 100px;
  }
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #71C2B3;
  padding-left: 6px;
}

#firstCircle {
  padding-left: 7px;
}

.aboutListItem {
  padding-left: 60px;
}

#aboutList {
  margin-top: 30px;
}

.aboutListItem:not(:first-of-type) {
  margin-top: 20px;
}

.aboutText {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 10px;
}