#mainAbout {
  height: 400px;
  background-color: #71C2B3;
}

#aboutTextColumn {
  width: 500px;
  height: 400px;
  margin-left: 60px;
  float: left;
}

#aboutImageColumn {
  width: 420px;
  height: 400px;
  margin-top: 25px;
  float: right;
}

#textRow1 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-left: 54px;
  margin-top: 45px;
}

#textRow2 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  padding-left: 54px;
}

@media(min-width: 992px) {
  #mainAbout {
    padding-top: 100px;
  }
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #71C2B3;
  padding-left: 6px;
}

#firstCircle {
  padding-left: 7px;
}

.aboutListItem {
  padding-left: 60px;
}

#aboutList {
  margin-top: 30px;
}

.aboutListItem:not(:first-of-type) {
  margin-top: 20px;
}

.aboutText {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 25px;
}

#mainPricing {
  background-color: #FFFFFF;
}

#freeDiv {
  margin-left: 120px;
  width: 400px;
}

#freeText1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #4C4A49;
}

#freeText2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  color: #4C4A49;
}

.priceBox {
  width: 900px;
  margin-left: 120px;
  margin-top: 20px;
  height: 200px;
}

.priceTab {
  width: 33%;
  height: 140px;
}

.priceTab:nth-child(1) {
  float: right;
}

.priceTab:nth-child(2) {
  float: right;
  margin-right: .6%;
}

.priceTab:nth-child(3) {
  
} 

.priceHeaderDiv {
  height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  padding-top: 12px;
}

.priceTab:first-child .priceHeaderDiv {
  background-color: #EF493A;
}

.priceTab:nth-child(2) .priceHeaderDiv {
  background-color: #71C2B3;
}

.priceTab:nth-child(3) .priceHeaderDiv {
  background-color: #4C4A49;
}

.price {
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #4C4A49;
  text-align: center;
}

.priceSpan {
  font-size: 16px;
  margin-left: 5px;
}

.priceMainDiv {
  background-color: #F7F7F5;
  height: 110px;
}

.choosePlan {
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 20px;
  width: 150px;
  height: 30px;
  padding-top: 4px;
}

.priceTab:first-child .priceMainDiv .choosePlan {
  background-color: #EF493A;
}

.priceTab:nth-child(2) .priceMainDiv .choosePlan {
  background-color: #71C2B3;
}

.priceTab:nth-child(3) .priceMainDiv .choosePlan {
  background-color: #4C4A49;
}

.handImage {
  width: 400px;
  height: 250px;
  opacity: .8;
}